<p>Hi {{ user.name }}!</p>
<p><b>{{ client.name }}</b> with id {{ client.id }} is requesting access to your account.</p>
<p>Do you approve?</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="{{ transactionID }}">
  <input type='hidden' name='clientID' value='{{client.id}}' />
  <input type='hidden' name='name' value='{{client.name}}' />
  <input type='hidden' name='redirectURI' value='{{client.redirectURI}}' />
  <div>
  <input type="submit" name='allow' value="true" id="allow">
  <input type="submit" value="Deny" name="cancel" id="deny">
  </div>
</form>
