<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Echafaudeur - Login</title>
  <meta name="description" content="Echafaudeur - Login">
  <meta name="author" content="Echafaudeur">

</head>

<body>
  <form action="/login" method="POST">
  	<div>
  	<label>Username:</label>
  	<input type="text" name="username"/><br/>
  	</div>
  	<div>
  	<label>Password:</label>
  	<input type="password" name="password"/>
  	</div>
  	<div>
  	<input type="submit" value="Submit"/>
  	</div>
  </form>
</body>
</html>
